*.cwGeneratedFileSetLog
*.g_c
*.g_x
*.xml
*.swp

**/FLASH
**/DEBUG
**/Documentation
**/Generated_Code
**.apconfig
**.traceConfig
# **/Project_Headers
**/Project_Settings
**/.settings

*.cproject
*.project
